:root {
    --font-size: 1em;

    --color-bg: #222831;
    --color-text: #f9dd79;
    --color-link: #32e0c4;
    --color-accent: #393e46;
}

body {
    position: relative;
    color: var(--color-text);
    background-color: var(--color-accent);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--color-bg);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Навигация */
nav ul {
    display: flex;
}

li {
    margin-right: 15px;
    font-size: 1.5em;
    line-height: 1.5em;
}

li:last-child {
    margin: 0;
}

/* Ссылки */
.link {
    color: var(--color-link);
    text-decoration: none;
    display: block;
}

.link::after {
    display: inherit;
    content: '';
    width: 0;
    height: 1.6px;
    background-color: var(--color-link);
    transition: width 0.3s ease-in-out 0s;
}

.link:hover::after {
    width: 100%;
}
/* todo как-то визуально отделять часть где находится пользователь */

/* Блоки */
section {
    padding-top: 10em;
}
section:first-child {
    padding: 10em 0;
}
section:last-child {
    padding-bottom: 100px;
}

.intro {
    display: flex;
    align-content: center;
    margin: 0 5%;
    justify-content: space-between;
}

.introTitle {
    display: inherit;
    flex-direction: column;
    width: 53%;
}

.text-accent {
    color: var(--color-link);
    margin: 0;
    padding: 32px 0;
    padding-bottom: 16px;
    font-size: 2em;
    line-height: 48px;
}

.fio {
    margin: 0;
    max-width: 815px;
    font-size: 6em;
    line-height: 112px;
    font-weight: 500;
}

figure {
    display: inline-flex;
    margin: 0px;
    margin-block: auto;
    margin-inline: unset;
    margin: 1px 0;
}

img {
    width: 288px;
}

hr {
    height: 2px;
    width: 100%;
    background-color: var(--color-link);
    border: none;
}

.subheading {
    margin-bottom: 100px;
    text-align: center;
    font-size: 5em;
    line-height: 88px;
    font-weight: 500;
    color: var(--color-text);
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.languages {
    margin-bottom: 50px;
}

.progress {
    margin: 10px;
    display: inline-block;
    width: 360px;
}
.progress:last-child {
    text-align: center;
}

progress {
    border-radius: 5px;
    width: 300px;
    height: 15px;
}

progress::-webkit-progress-bar {
    border-radius: 5px;
}
progress::-webkit-progress-value {
    background-color: var(--color-link);
    border-radius: 5px;
}
progress::-moz-progress-bar {
    border-radius: 5px;
}
progress::-webkit-progress-value {
    background-color: var(--color-link);
    border-radius: 5px;
}

.project {
    display: flex;
    justify-content: space-evenly;
}

.projectTitle {
    width: 50%;
}

h3 {
    font-size: 2.5em;
    color: var(--color-link);
}

.description,
.toolsList {
    font-size: 1.2em;
    margin: 10px 0;
}

.button {
    margin: 0;
    padding: 8px 24px;
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #0b0c23;
    background-color: #f9dd79;
    box-shadow: 0 4px 16px rgba(249, 221, 121, 0.4);
    border-radius: 24px;
    transition: background-color 100ms, box-shadow 100ms;
}

.button:focus,
.button:hover {
    background-color: #f9e7a8;
    box-shadow: 0 4px 32px rgba(249, 221, 121, 0.6);
}

.button:active {
    background-color: #b69e4b;
    box-shadow: none;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.scale {
    margin: 10px 0;
    transition: 1s;
}
.scale:first-child {
    margin-top: 0;
}
.scale:last-child {
    margin-bottom: 0;
}
.scale:hover {
    transform: scale(1.5);
}

p {
    font-size: 1.5em;
}

.contact {
    display: inline-block;
}
.contact::after {
    display: block;
}
.contact::after:hover {
    width: 100%;
}

@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    body {
        font-size: 13px;
    }

    .scale {
        width: 200px;
    }
}

@media (max-width: 850px) {
    .intro {
        justify-content: center;
        text-align: center;
    }

    h1 {
        display: flex;
        justify-content: center;
    }

    figure {
        display: none;
    }

    .projectTitle {
        width: 95%;
        text-align: center;
    }

    .images {
        display: none;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .fio,
    .subheading {
        font-size: 35px;
        line-height: 1.5;
    }

    .subheading {
        margin-bottom: 35px;
    }

    section {
        padding: 5em 30px 0;
    }

    section:last-child {
        padding-bottom: 50px;
    }

    progress,
    .progress {
        width: 100%;
        text-align: center;
    }

    .my-contacts {
        text-align: center;
    }

    p {
        font-size: 1.2em;
    }
}
