:root {
    --font-size: 1em;

    --color-bg: #222831;
    --color-text: #f9dd79;
    --color-link: #32e0c4;
    --color-accent: #393e46;
}

body {
    position: relative;
    color: var(--color-text);
    background-color: var(--color-accent);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--color-bg);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Навигация */
nav ul {
    display: flex;
}

li {
    margin-right: 15px;
    font-size: 1.5em;
    line-height: 1.5em;
}

li:last-child {
    margin: 0;
}

/* Ссылки */
.link {
    color: var(--color-link);
    text-decoration: none;
    display: block;
}

.link::after {
    display: inherit;
    content: '';
    width: 0;
    height: 1.6px;
    background-color: var(--color-link);
    transition: width 0.3s ease-in-out 0s;
}

.link:hover::after {
    width: 100%;
}
/* todo как-то визуально отделять часть где находится пользователь */

/* Блоки */
section {
    padding: 15% 0;
    padding: 10em 0;
}

.hero-image {
    display: flex;
    align-content: center;
    margin: 0 5%;
    justify-content: space-between;
}

.container {
    display: inherit;
    flex-direction: column;
    width: 53%;
}

.text-accent {
    color: var(--color-link);
    margin: 0;
    padding: 32px 0;
    padding-bottom: 16px;
    font-size: 2em;
    line-height: 48px;
}

.fio {
    margin: 0;
    max-width: 815px;
    font-size: 6em;
    line-height: 112px;
    font-weight: 500;
}

figure {
    display: inline-flex;
    margin: 0px;
    margin-block: auto;
    margin-inline: unset;
    margin: 1px 0;
}

img {
    width: 288px;
}

hr {
    height: 2px;
    width: 100%;
    background-color: var(--color-link);
    border: none;
}

/* ----------------- */

/* figure img{
    width: inherit;
    height: inherit;
    border-radius: 50%;
} */

/* .hero-image::after {
    position: absolute;
    content: '';
    height: 0px;
    width: 100%;
    bottom: 0;
    border-top: 2px solid #5053a8;
} */

/* .hero-image p {
    margin: 0;
    padding: 32px 0;
    padding-bottom: 16px;
    font-size: 2em;
    line-height: 48px;
} */

/* .intro,
.portfolio {
    background-color: #141530;
} */

.intro {
    padding: 160px 0 120px;
    /* min-height: 828px; */
}

.subheading {
    margin: 0 0 100px;
    text-align: center;
    font-size: 5em;
    line-height: 88px;
    font-weight: 500;
    color: #f9dd79;
}

.intro .container {
    position: relative;
}

.dot {
    height: 80px;
    width: 80px;
    border: 1px solid #5053a8;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
}

.user-image {
    position: absolute;
    margin: 0;
}

.user-image img {
    width: 640px;
    height: 640px;
    object-fit: cover;
}

.intro .container .skills {
    /* margin-left: 720px; */
    margin-bottom: 56px;
}

.intro h3,
.portfolio h3 {
    margin: 0 0 16px;
    /* font-size: 32px; */
    font-size: 2.5em;
    line-height: 40px;
    font-weight: 500;
}

.intro p {
    margin: 0;
    z-index: 2;
}

.about-me {
    display: inline-block;
    max-width: 50%;
}

.skills {
    margin-bottom: 0;
    max-width: 100%;
    min-width: 35%;
    float: right;
}

.skills h3 {
    margin-bottom: 40px;
}

.skills-list {
    margin: 0;
    padding: 0;
}

.skills-list dt {
    margin: 0 0 8px;
    padding-left: 46px;
    height: 36px;
    /* font-size: 24px; */
    font-size: 2em;
    letter-spacing: 1px;
    background-repeat: no-repeat;
    background-position: left;
}

.skill-html {
    background-image: url('img/icon-html.svg');
}

.skill-css {
    background-image: url('img/icon-css.svg');
}
.skill-js {
    background-image: url('img/icon-js.png');
    background-size: contain;
}
.skill-nodejs {
    background-image: url('img/icon-nodeJs.png');
    background-size: contain;
}
.skill-c-sharp {
    background-image: url('img/icon-c-sharp.svg');
}
.skill-java {
    background-image: url('img/icon-java.svg');
}
.skill-python {
    background-image: url('img/icon-python.png');
}
.skill-sql {
    background-image: url('img/icon-sql.png');
    background-size: contain;
}

.level {
    margin: 0 0 40px;
    height: 24px;
    text-align: right;
    background-color: #0b0c23;
    box-shadow: inset 0 0 12px #070716;
    border-radius: 12px;
    overflow: hidden;
}

.skills .level div {
    margin: 0;
    height: 24px;
    letter-spacing: 1px;
    line-height: 26px;
    background-color: #5053a8;
    background-image: url('img/progress-pattern.svg');
}

.portfolio {
    margin: 0;
    padding-bottom: 160px;
    padding-top: 100px;
}

.projects {
    margin: 0;
    padding: 0;
    list-style: none;
}

.projects li {
    position: relative;
    min-height: 256px;
    margin: 0 0 100px;
    padding-left: 528px;
}

.project-image {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.project-image img {
    width: 448px;
    height: 256px;
    object-fit: cover;
}

.projects p {
    margin: 0 0 32px;
}
.link-me {
    color: #f2f2f2;
    font-size: 1em;
    text-decoration: none;
}

.button {
    margin: 0;
    padding: 8px 24px;
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #0b0c23;
    background-color: #f9dd79;
    box-shadow: 0 4px 16px rgba(249, 221, 121, 0.4);
    border-radius: 24px;
    transition: background-color 100ms, box-shadow 100ms;
    /* pointer-events: none; */
}

.button:focus,
.button:hover {
    background-color: #f9e7a8;
    box-shadow: 0 4px 32px rgba(249, 221, 121, 0.6);
}

.button:active {
    background-color: #b69e4b;
    box-shadow: none;
}

.page-footer {
    padding: 40px 0;
    background-color: #212349;
}

p {
    font-size: 1.5em;
}

@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    body {
        font-size: 12px;
    }

    /* .hero-image {
        height: 300px;
        padding: 0px;
    }

    .hero-image::before {
        display: none;
    }

    .intro {
        padding: 100px 0;
    } */
}

@media (max-width: 800px) {
    body {
        font-size: 12px;
    }
}

/* Разобраться */
@media screen and (max-width: 600px) {
    ul {
        flex-direction: column;
    }
}
